{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  Привет, {{ user.username }}!
  <p><a href="{% url 'logout' %}">Выйти</a></p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить">
  </form>

  <ul>
    {% for post in object_list %}
      <h2>{{ post.author }}</h2>
      <img src="{{ post.image.url}}" alt="{{ post.author }}" width="200">
    {% endfor %}
  </ul>
{% else %}
  <p>Вы не вошли</p>
  <a href="{% url 'login' %}">Войти</a>
  <a href="{% url 'signup' %}">Регистрация</a>
{% endif %}

{% endblock %}